@font-face {
  font-family:"Gotham-Medium";
  src: url("font/GothamSSm-Medium.ttf") format("truetype");
}
@font-face {
  font-family:"Gotham-Bold";
  src: url("font/GothamBold.ttf") format("truetype");
}
@font-face {
  font-family:"Gotham-Black";
  src: url("font/Gotham-Black.otf") format("truetype");
}
@font-face {
  font-family:"Gotham-Book";
  src: url("font/GothamSSm-Book.ttf") format("truetype");
}
@font-face {
  font-family:"Gotham-Light";
  src: url("font/GothamLight.ttf") format("truetype");
}

body{
    margin:0;
    padding:0;
}

#main{
    height:calc(100vh - 60px);
    display:flex;
}
#map {
    position:relative;
    height: 100%;
    width: 100%;
}

#header {
    height: 100px;
    display:flex;
    align-items: center;
    background: #eaf0f8;
}

#header>img{
    width: 100%;object-fit: stretch; overflow: hidden;
    height: 100px;
}

/* Custom map control */
/* ol button styling */
.ol-control button {
    font-size:20px!important;
    background-color: #f4f4f4!important;
    color:#092540!important;
    margin:5px!important;
    padding:5px!important;
    width:28px!important;
    height:28px!important;
}

.ol-control button:hover{
    color:#437EEB!important;
}

.ol-control{
    background:rgba(244, 244, 244, 0.5)!important;
}

.ol-scale-line{
    position:absolute;
    bottom:8px!important;
    right:8px!important;
    left:auto!important;
    border-radius:8px!important;
    background:rgba(244, 244, 244, 0.8)!important;
}

.ol-scale-line div{
    color:#092540!important;
    border-color:#092540!important;  
}

.ol-scale-line-inner {
    border-radius:8px!important;
}

#side-panel{
    height:100%;
    width:0px;
    min-width:0px;
    background:white;
    display:flex;
    transition: width 1000ms, min-width 1000ms;
}

#side-panel-btn{
    height:40px;
    width:40px;
    background:white;
    position:absolute;
    left:0;
    top: calc(50% - 20px);
    z-index:5;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
    transition: left 1000ms;
}

#side-panel-btn.open{
    left:400px
}

#side-panel.open{
    width:400px;
    min-width:400px;
}

#col-content{
    width:100%;
    overflow: scroll;
}

#col-icon{
    height:100%;
    width:60px;
    background:#33cc33;
}

.icon-box{
    height:60px;
    width:60px;
    display:block;
    padding-top:20px;
    text-align:center;
    font-size:20px;
    color:white;
    cursor:pointer;
}

.icon-box.active{
    color:#003300;
    background:white;
}

.tab-title{
    display:block;
    font-size:9px;
    font-family: Arial;
    padding-top:3px;
}

.content{
    display:none;
    /* text-align: center */
}

.content.active{
    display:block;
}

#info-panel{
    position:absolute;
    right:10px;
    top:10px;
    width:300px;
    height:400px;
    background:white;
    border-radius:8px;
    z-index:9;
}

.close-info-panel{
    display:flex;
    justify-content:flex-end;
}

.icon-style{
    padding-top:8px;
    padding-right:8px;
    cursor:pointer;
}



#basemap-ctn, #layers-ctn{
    margin:0;
}

#layers-ctn{
    margin-top:20px;
}

#lone{
    text-align: center;
}

.layer-ctn{
    display:block;
    margin:0;
    padding:7.5px 20px;
    width:100%;
    box-sizing: border-box;
}
.layer-ctn2{
    display:block;
    margin:0;
    padding:7.5px 10px;
    width:100%;
    box-sizing: border-box;
}

.panel-title{
    font-size:22px;
    padding:15px;
    font-family:"Gotham-Medium";
    font-weight: 600;
}

input[name=baseLayerRadioButton]{
    display:none;
}

label.simpleBasemapOption, label.layerOption{
   font-family:"Gotham-Book";
    font-size:15px;
    position:relative;
    bottom:1px;
}

label.basemapOption{
    display:block;
    height:120px;
    width: 300px;
    border-radius:5px;
    border:solid 4px #DDDDDD;
    margin:0;
    padding:0;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.0475),
      0 2px 2px hsl(0deg 0% 0% / 0.0475),
      0 4px 4px hsl(0deg 0% 0% / 0.0475),
      0 8px 8px hsl(0deg 0% 0% / 0.0475),
      0 16px 16px hsl(0deg 0% 0% / 0.0475)
    ;
}

input[name=baseLayerRadioButton]:checked + label.basemapOption {
    border: solid 4px #092540;
}

.layer-name{
    text-align: center;
    font-family:"Gotham-Book";
    font-size:15px;
    padding-bottom:10px;
    margin:0;
    position:relative;
    bottom:4px;
}

.googlestreets{
    background-image: url('../image/googlestreets_thumbnail.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

.osm{
    background-image: url('../image/osm_thumbnail.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

.sat{
    background-image: url('../image/satlayer_thumbnail.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

.dark{
    background-image: url('../image/dark_thumbnail.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

.shrink-on-hover {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.shrink-on-hover:hover, .shrink-on-hover:focus, .shrink-on-hover:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}


/* Custom map control */
/* ol button styling */
.ol-control button {
    font-size:20px!important;
    background-color: #f4f4f4!important;
    color:#092540!important;
    margin:5px!important;
    padding:5px!important;
    width:28px!important;
    height:28px!important;
}

.ol-control button:hover{
    color:#437EEB!important;
}

.ol-control{
    background:rgba(244, 244, 244, 0.5)!important;
}

.ol-scale-line{
    position:absolute;
    bottom:8px!important;
    right:8px!important;
    left:auto!important;
    border-radius:8px!important;
    background:rgba(244, 244, 244, 0.8)!important;
}

.ol-scale-line div{
    color:#092540!important;
    border-color:#092540!important;  
}

.ol-scale-line-inner {
    border-radius:8px!important;
}

.list-group{
    cursor: pointer;
}

